// 1像素的实现
border-1px($color)
  position: relative
  &:after
    content: ''
    display: block
    clear: both
    position: absolute
    top: 0
    left: 0
    width: 100%
    border-top: 1px solid $color
border-no()
  &:after
    border-top:0
  &:after
    display: none
// 图片适配问题
bg-image($url)
  background-image :url($url+"@2x.png")
  @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3)
    background-image :url($url+"@3x.png")

// 全局颜色
bg-global()
 background :#f3f5f7

f-28()
 font-size :14px
 color :rgb(7,17,27)


